<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  
</head>
<body >
  <main>
    <div class="row p-3 shadow-sm text-center" style="background-color: rgb(15, 200, 228);">
      <div class="mt-2 col-2 text-start text-white">
        <h4><b> Gocache Console</b></h4>
      </div>
      <div class="col-6 offset-1 rounded-3 " style="background-color: rgb(20, 175, 199);">
        <div class="row">
          <label for="mainSearch" class="col-1 col-form-label">
            <h4 class="text-start text-white"><b><i class="bi bi-search"></i></b></h4>
          </label>
          <input id="mainSearch" class="text-white border-0 col form-control" style="background-color: rgb(20, 175, 199); font-size: 20px;" type="text" placeholder="search for a remote peer by address or name">
        </div>
      </div>
      <div class="mt-2 offset-1 col-2 text-end">
        <a href="/setting" type="button"><h3><i class="bi bi-gear-fill text-white"></i></h3></a>
      </div>
    </div>

    <div class="container-fluid shadow-sm ">
      <div class="row " style="height: 880px;">

        <div class="col-2" style="background-color: rgb(246, 246, 246);">
          <nav class="navbar ps-3">
            <ul class="navbar-nav" >
              <li class="nav-item mb-2 mt-5">
                <a class="nav-link" href="/" style="font-size: 25px;color: rgb(99,99,99);">
                  <i class="bi bi-caret-right-fill mx-2"></i>
                  <span class="menu-title"><b>connect server</b></span>
                </a>
              </li>
              <li class="nav-item mb-2 mt-4">
                <a class="nav-link" href="/peers" style="font-size: 25px;color: rgb(99,99,99);">
                  <i class="bi bi-list-ul mx-2"></i>
                  <span class="menu-title"><b>peer list</b></span>
                </a>
              </li>
              <li class="nav-item mb-2 mt-4">
                <a class="nav-link" href="/caches" style="font-size: 25px;color: rgb(20, 175, 199);">
                  <i class="bi bi-list-ul mx-2"></i>
                  <span class="menu-title"><b>Cache list</b></span>
                </a>
              </li>
              <li class="nav-item my-4">
                <a class="nav-link" href="/console" style="font-size: 25px;color: rgb(99, 99, 99);">
                  <i class="bi bi-journal-text mx-2"></i>
                  <span class="menu-title"><b>Console</b></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-10 my-5">
          <div >
            <div  class="row mt-2 ms-2 me-2 mb-5">
              <div class="col-9">
                <h4 class="display-6"><b>Caches list</b></h4>
                <small class="text-secondary">This page has all the cache information of the current peer, and you can view or modify the cache information. And can creat a gdb file.&nbsp;<a href="https://github.com/meguriri/GoCache">support</a> </small>
              </div>
            </div>
          </div>

          <div class="container mt-5">
            <div class="row">
              <div class="col-1 offset-1 mt-1 me-3 text-secondary">
                <h4>Address: </h4>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" >
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-success"><i class="bi bi-play-fill mx-2"></i></button>
              </div>
            </div>
          </div>
          
          <div class="row mt-5 mx-5">
            <table class="table ">
              <thead >
                <tr>
                  <th scope="col"><h4>Key</h4></th>
                  <th scope="col-3"><h4>Value</h4></th>
                  <th scope="col"><h4>Actions</h4></th>
                </tr>
              </thead>
              <tbody class="text-secondary">
                <tr>
                  <td class="py-3"><h5><b>abc</b></h5></td>
                  <td class="py-3"><h5><b>def</b></h5></td>
                  <td class="py-3 ">
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-arrow-clockwise me-3"></i></h4></i></a>
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-trash-fill me-3"></i></h4></a>
                  </td>
                </tr>
                <tr>
                  <td class="py-3"><h5><b>abc</b></h5></td>
                  <td class="py-3"><h5><b>def</b></h5></td>
                  <td class="py-3 ">
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-arrow-clockwise me-3"></i></h4></i></a>
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-trash-fill me-3"></i></h4></a>
                  </td>
                </tr>
                <tr>
                  <td class="py-3"><h5><b>abc</b></h5></td>
                  <td class="py-3"><h5><b>def</b></h5></td>
                  <td class="py-3 ">
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-arrow-clockwise me-3"></i></h4></i></a>
                    <a href="" type="button" style="color:rgb(99, 99, 99);"><h4><i class="bi bi-trash-fill me-3"></i></h4></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>

      <div class="row" style="background-color: rgb(232, 232, 232);;">
        <div class="col-2 text-center text-white" style="background-color: #19a262;">
          <b>connected</b>
        </div>
        <div class="col-9" style="color: rgb(93, 93, 93);">
          <small>RAM &nbsp;:</small>
        </div>
        <div class="col-1 float-end text-end" style="color: rgb(93, 93, 93);">
          <small>v1.0</small>
        </div>
      </div>
    </div>
  </main>
</body>
</html>